.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 14vmin);
  grid-template-rows: repeat(6, 7vmin);
  gap: 1.5vmin;
  margin: clamp(8px, 2vw, 28px) clamp(8px, 2vw, 24px);
}

