.calculator__button{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 1vmin;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: clamp(4px, 5vw, 60px);
  color: #DEE1EF;
  background-color: #82879E;
}

.calculator__button:hover {
  background-color: #5A5D6C;
  cursor: pointer;
}

@media screen and (aspect-ratio > 4/3) {
  .calculator__button {
    font-size: clamp(4px, 6vh, 55px);
  }
}